# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# image sources not needed in the site
public/*.xcf
public/*_original.*
public/*_cropped.*
diff.txt

# Local exports
fs.txt

# local ingest reports
reports/
