:root {
  color-scheme: light;
  --sticky-offset: 0px;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.app-title {
  margin: 0;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 800;
}
